
<div class="wrap" style="width: 400px;margin: 0 auto;">
    <div class="timeline">
        <div class="timeline-item" id="timeline-example-1">
            <div class="timeline-left icon-lg">
                <a class="timeline-icon tooltip" data-tooltip="2018年4月13日" href="#timeline-example-1"></a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2018年4月13日</p>
                        <p class="tile-title">初始提交</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item" id="timeline-example-2">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg tooltip" href="#timeline-example-2" data-tooltip="2018年4月16日">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2018年4月16日</p>
                        <p class="tile-title"><a href="">css</a>：加入spectre.css</p>
                        <p class="tile-title"><a href="">templesEngine</a>：修改velocity渲染时乱码问题</p>
                    </div>
                    <div class="tile-action">
                        <button class="btn">视图</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>